.rec-wrapper {
    padding: 5px 20px;
}

.rec-wrapper fieldset {
    margin: 20px 0;
}

.recommendationsList {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    left: 10px;
    top: 140px;
    padding: 8px;
    gap: 8px;
}

.recommendationsList a {
    color: white;
    text-decoration: none;
}

.recommendationsList a:visited {
    color: white;
}

.recommendationsList a:active {
    color: white;
}

.recommendationsList a:hover {
    color: #e04324;
}

.recommendationsList .metalItem {
    width: 500px;
    padding: 8px;
}